
.App{
  text-align: center;
}
.templatename{
  margin-left: 5%;
  color: #00aeff;
}
/* body{
  background: url(Bgimage.PNG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
} */
.grid{
    bottom: 0;
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 30px;
    background-color: #2196F3;
    padding: 30px;
  }
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 0;
    border: 2px solid rgb(0, 0, 0);
    border-width: 3px;
    border-top: blanchedalmond;
    border-left: blanchedalmond;
    border-bottom: blanchedalmond;

    top: 0;
    left: 0;
    background-color: #13b1e0 ;
    overflow-x: hidden;
    padding-top: 20px;
    opacity: 80%;
  }
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  .button {
    background-color: #008dce; /* Green */
    
    border-color: rgb(53, 50, 45);
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width:80px;
    height:30px;
    /* padding-bottom: 30px; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 4px;
  }
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .button22 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 5%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
  }
  .button223 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 5%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
  }
  .button21 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  .button213 {
    background-color: white; 
    color: black; 
    border: 2px solid #ff0b0b;
  }
  
  .button21:hover {
    background-color: #008CBA;
    color: white;
  }
  
  .container{
     color: #000000 ;
    background-color: #13b1e0  ;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 7px;
    outline: #111;
    height: 1%;
    width: 70%;
    margin-left: 12%;
    padding-bottom: 5px;
    padding-top: 0px;
    opacity: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  } 

  /* .input {
    margin: 2rem auto;
    background-color: rgb(0, 180, 224);
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
  }
  
  .input label {
    display: block;
    
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .input input {
    font: inherit;
    display: block;
    
    width: 100%;
    border: 1px solid rgb(3, 18, 20);
    padding: 0.15rem;
    margin-bottom: 0.5rem;
  }
  
  .input input:focus {
    outline: none;
    
    border-color: #4f005f;
  } */